.container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, teal, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
}

.button {
  padding: 20px;
  background-color: teal;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  color: white;
}
